.select-gender .col-third input[type="radio"] + .gender{
    /* padding: 0.5em; */
    width: fit-content;
    margin: 0vw;
}

.select-gender .col-third{
    all: initial;
    padding-right: 0.5vw;
    width: 28%;
    font-size: 1vw;
}


